.img {
	border-radius: 50%;
	background-color: #49ff46;
	width: 35px;
	height: 35px;
	margin: 2px;
	
	img {
		$dol: 65%;
		height: $dol;
		width: $dol;
		margin: (100-$dol)/2 0 0 (100-$dol)/2;
	}
}
.category_card{
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 11px;
}
.my_form_select {
	.Select__title{
		font-size: 14px;
	}
}
.CardGrid .category_card_outer {
	width: calc((100% - 3*8px)/4) !important;
}

.wallet-fast-click-item {
	flex-grow: 0;
	background-color: rgba(63, 138, 224, .23);
	border-radius: 4px;
	padding: 1px 8px;
	margin: 8px 0 0;
}

.type-fast-click-item{
	flex-grow: 0;
	background-color: rgba(169, 169, 169, .23);
	border-radius: 4px;
	padding: 1px 6px;
	margin: 8px 0 0;
}